@import 'component/header';
@import 'component/footer';

/*ESTILOS SECCIÓN PERFIL PAGE INDEX.HTML*/
.container__image-profile {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* FIN ESTILOS SECTION PERFIL PAGE INDEX.HTML*/

/*ESTILOS SECCIÓN EXPERIENCIA PAGE INDEX.HTML*/
.carousel-item .container {
    width: 60%;
    /* Ancho del contenedor */
    height: 400px;
    /* Altura del contenedor */
    overflow: hidden;
    /* Oculta cualquier contenido que desborde del contenedor */
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
        width: 30%;
        /* Ancho del contenedor */
    }

    & img {
        width: 100%;
        /* Ancho de la imagen */
        height: 100%;
        /* Altura de la imagen */
        object-fit: contain;
        /* Ajusta la imagen al contenedor */
    }
}

.carousel-indicators li {
    color: transparent;
    /*se quita la numeración de las slides*/
}

/* FIN ESTILOS SECCIÓN EXPERIENCIA PAGE INDEX.HTML*/

/*ESTILOS  PAGE PROFILE.HTML*/
.container__icons-profile {
    & img {
        max-width: 100px;
        width: 100%;
        margin: 2rem;

        &:hover {
            transition: all .2s ease-in-out;
            transform: scale(1.2);
        }
    }
}
/*FIN ESTILOS  PAGE PROFILE.HTML*/