* {
    padding: 0;
    margin: 0;
}
:root {
    --color-1: #E2DEDE;
    --color-2: #EFEEF6;
}

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
/*ESTILOS HEADER*/
#header {
    height: 102px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
}
#header nav {
    width: 100%;
    display: flex;
}
#header .container-img {
    width: 30%;
    display: flex;
    justify-content: center;
}
#header .container-ul {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0 2rem 2rem;
    align-items: flex-start;
}
#header nav img {
    max-width: 4rem;
    height: auto;
    width: 100%;
}
#header ul {
    list-style: none;
}
#header ul a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 200;
}
#header ul a:hover{
    font-weight: 600;
}
/*FIN ESTILOS HEADER*/

/* ESTILOS SECTION*/
.section-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 642px;
    width: 100%;
    background-color: var(--color-1);
}
.background-img-profile {
    background-image: url(assets/background-Image.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem 0;
}
.text {
    font-size: 1.25rem;
    color: #000;
    text-align: center;
    padding-top: 1rem;
}
.container-profile-description {
    display: flex;
    background-color: var(--color-1);
    padding: 2rem;
}
.container-img-profile {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.container-img-profile img{
    width: auto;
    height: 70%;
}
.container-text p{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.text-description {
    font-size: 1rem;
    font-weight: 200;
}
/* FIN ESTILOS SECTION*/
/*ESTILOS FOOTER*/
#footer {
    display: flex;
    margin: 2rem 4rem;
    color: var(--color-2);
    align-items: center;
}
#footer .text-footer {
    width: 30%;
    color: #000;
    font-weight: 300;
    padding-bottom: 0;
}
#footer .container-icons-social-media{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
}
#footer .container-icons-social-media img{
    width: 2rem;
	--tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
    cursor: pointer;
}
/*FIN ESTILOS FOOTER*/